.header__top {
    position: absolute;
    width: calc(100% - 200px);
    min-height: 50px;
    text-align: center;
    /*padding: 20px;*/
    z-index: 199;
}

.table {
    display: flex;
    height: calc(100% - 20px);
    margin-top: 20px;
}

.forecastday__box {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
    width: 471px;
}

.forecastday__day {
    text-align: center;

}

.img__direction {
    margin: auto;
    height: 15px;
    width: 15px;
}

.img_direction__circle {
    display: inline-flex;
    width: 24px;
    height: 24px;
    border-radius: 20px;
    background-color: white;
    margin-left: 5px;

}