.table {
    display: flex;
    height: 100vh;
    margin-top: 0px;
    text-align: center;
    justify-content: space-evenly;
}


.forecastday__box {
    margin: auto;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
    width: 471px;
}