.header__top{
    position: absolute;
    /*width:100%;*/
    min-height: 50px;
    text-align: center;
    /*padding: 20px;*/
    z-index: 199;
}

.table{
display: flex;
    height: 100%;
}

.forecastday__box{
margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 450px;
}

.forecastday__day{


}

.img__direction{
    height: 15px;
    width: 15px;
}